.root {
  --color: #000;
  --border-color: #000;
  --font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  color: var(--color);
  border: 1px solid var(--border-color);
  padding: 8px 13px;
  font-size: var(--font-size);
  transition: background 0.15s linear;

  &.light {
    --color: #fff;
    --border-color: #fff;
  }

  &.small {
    --font-size: 14px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}
