.root {
  img {
    display: block;
    margin: 35px auto;
  }
}
.button {
  margin: 25px auto;
}

.anchorTitle {
  display: flex;
  align-items: center;

  a {
    opacity: 0;
    transition: opacity 0.35s linear;
  }

  &:hover {
    a {
      opacity: 1;
    }
  }
}
