.section {
  width: 100%;
}

.slider {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  margin: 0 50px;
  color: #444;
  max-width: 1180px;
  width: 100%;
  overflow: hidden;
}

.sliderContent {
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: #fff;
  font-size: 54px;
  margin-bottom: 48px;
}

.subheader {
  color: #fff;
  font-size: 30px;
  margin-bottom: 60px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}
